@import '../../../../../../styles.scss';

.header-logo {
  width: 0;
  line-height: to-rem(17px);
}

.logo,
.logo:hover {
  font-size: to-rem(18px);
  color: $black;

  @include media-breakpoint-up(md) {
    font-size: to-rem(24px);
  }
}

#toggle {
  background: transparent;
  outline: none;
  right: to-rem(10px);
}

a {
  outline: none;
}

nav {
  a {
    color: $dark-blue;
    transition: all 0.15s;
  }

  a:hover {
    color: $white;
    background: $dark-blue ;
  }
}
