@import "../../../../../../styles.scss";

mat-nav-list {
  a {
    transition: all 0.15s;
    background: $white;

    .nav-caption {
      color: $black;
    }
  }

  .active-link {
    background: $dark-blue;

    .nav-caption{
      color: $white;
    }
  }
}
